<head>
    <!-- support for mobile touch devices -->
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/temp/cornerstone.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/temp/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/temp/ebook.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/temp/website.css" | relative_url }}">
</head>