<body>
    <div class="wrapper">
        <h1>{{ page.title }}</h1>
        <div class="button-group">
            <button class="modeButton" id="active">Active</button>
            <button class="modeButton" id="passive">Passive</button>
            <button class="modeButton" id="enabled">Enabled</button>
            <button class="modeButton active" id="disabled">Disabled</button>
        </div>
        
        <div class="cornerstone-element-wrapper">
            {% include simple-tool-cornerstone-elements.html %}
        </div>
    </div>
    
    {{ content }}

    <div class="tool-set-up">
        {% capture tool-set-up %}{% include simple-tool-tutorial.md %}{% endcapture %}
        {{ tool-set-up | markdownify }}
    </div>
    
    {% include cornerstoneFiles.html %}
    
    <script>
        const toolName = "{{ page.toolName }}";
        
        /**
         * Script file: element-handler.html
         * Expects: 
         *  cTools; 
         *  toolName;
        */
        {% include simple-tool-element-handler.html %}
        
        // Add the current tool api
        const apiTool = cornerstoneTools[`${toolName}Tool`];
        
        if (apiTool) {
            cTools.addTool(apiTool);
        } else {
            console.warn(`unable to add tool with name ${toolName}Tool`);
            console.log(cornerstoneTools)
        }
        
        /**
         * Script file: buttons-handler.html
         * Expects: 
         *  cTools;
         *  HTML Element with selector: .cornerstone-element;
        */
        {% include simple-tool-buttons.html %}

    </script>

</body>