<body>
        <div class="wrapper">
            <h1>{{ page.title }}</h1>
            {% include simple-tool/buttons-html.html %}
            
            <div class="cornerstone-element-wrapper">
                {% include simple-tool/elements-html.html %}
            </div>
        </div>
        
        {{ content }}
    
        <div class="tool-set-up">
            {% capture tool-set-up %}{% include simple-tool/tutorial.md %}{% endcapture %}
            {{ tool-set-up | markdownify }}
        </div>
        
        {% include cornerstone-files.html %}
        
        <script>
            const csTools = cornerstoneTools.init();
    
            {% include simple-tool/elements-js.html %}

            const {{ page.toolName }}Tool = cornerstoneTools.{{ page.toolName }}Tool;
    
            // Adds tool to ALL currently enabledElements
            csTools.addTool({{ page.toolName }}Tool);

    
            {% include simple-tool/buttons-js.html %}
            
        </script>

    </body>