---
layout: default
---

<div class="home">
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  
  {{ content }}
  
  {% if site.pages.size > 0 %}
  <h2 class="tool-list-heading">{{ "Tools" }}</h2>
  <div class="tool-list">
    {% for page in site.pages %}
      {% if page.toolName %}
      <div class="thumbnail">
          <a class="tool-link" href="{{ page.url | relative_url }}">
            {{ page.title }}
          </a>
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  
  {% capture get-started %}{% include get-started.md %}{% endcapture %}
  {{ get-started | markdownify }}
</div>
