---
layout: default
---

<div class="home">
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  
  {{ content }}
  
  {% if site.pages.size > 0 %}
  <h2 class="tool-list-heading">{{ "Tools" }}</h2>
  <div class="tool-list">
    {% for page in site.pages %}
      {% if page.toolName %}
        {% include tool-thumbnail.html %}
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  
  {% capture my-include %}{% include get-started.md %}{% endcapture %}
  {{ my-include | markdownify }}
</div>
