---
layout: default2
---

{% assign buttons-html = "simple-tool/buttons-html.html" %}
{% if page.buttons-html %}
    {% assign buttons-html = page.buttons-html %}
{% endif %}

{% assign elements-html = "simple-tool/elements-html.html" %}
{% if page.elements-html %}
    {% assign elements-html = page.elements-html %}
{% endif %}

{% assign tutorial = "simple-tool/tutorial.md" %}
{% if page.tutorial %}
    {% assign tutorial = page.tutorial.md %}
{% endif %}

{% assign elements-js = "simple-tool/elements-js.html" %}
{% if page.elements-js %}
    {% assign elements-js = page.elements-js %}
{% endif %}

{% assign tool-js = "simple-tool/tool-js.html" %}
{% if page.tool-js %}
    {% assign tool-js = page.tool-js %}
{% endif %}

{% assign buttons-js = "simple-tool/buttons-js.html" %}
{% if page.buttons-js %}
    {% assign buttons-js = page.buttons-js %}
{% endif %}

<body>
    <div class="wrapper">
        <h1>{{ page.title }}</h1>

        {% include {{buttons-html}} %}
        
        {% include {{elements-html}} %}

        </div>
    </div>
    
    {{ content }}

    <div class="tool-set-up">
        {% capture tool-set-up %}{% include {{tutorial}} %}{% endcapture %}
        {{ tool-set-up | markdownify }}
    </div>
    
    {% include cornerstone-files.html %}
    
    <script>
        (function(){
            window.csTools = cornerstoneTools.init();

            {% include {{elements-js}} %}

            {% include {{tool-js}} %}

            {% include {{buttons-js}} %}
        })();
        
    </script>

</body>